<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team10.ldcc.com.smartconsumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationController"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon">

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name="com.laboratory.ldcc.wave.downstream.WaveTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.laboratory.ldcc.wave.downstream.WaveService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <receiver android:name="team10.ldcc.com.smartconsumer.WaveMessageReceiver">
            <intent-filter>
                <action android:name="com.84.ldcc.wave.MESSAGING_RECEIVED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="team10.ldcc.com.smartconsumer.DefaultOpenReceiver">
            <intent-filter>
                <action android:name="com.84.ldcc.wave.MESSAGING_OPENED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
